.navbar {
    position: fixed;
    top: 0;
    z-index: 1000;
}

.page {
    width: 100%;
    height: 100%;
    background: #3879B9;
    display: flex;
    justify-content: center;
    padding: 8rem 2rem 2rem;
}

.surface {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.selectorSection {
    width: 100%;
}

.contentSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1;
}

.sectionHeading {
    margin: 0;
    font-size: clamp(1.75rem, 2vw, 2.25rem);
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

.taskCard {
    width: 100%;
    flex: 1;
}
