.matchCircle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: 1rem auto;
    margin-bottom: 2rem;
    background: transparent;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
    aspect-ratio: 1;
    flex-shrink: 0;
}

.confidencePercentage {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    line-height: 1;
    font-family: Verdana, sans-serif;
}

.confidenceLabel {
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1;
    font-family: Verdana, sans-serif;
}

