.bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center; 
    background-color: white;
    height: 80px;
    align-items: center;
}

.logoContainer {
  position: absolute;
  display: flex;
  align-items: center;
  left: 10px;
  height: 80px;
}

.logoLink {
  display: flex;
  height: 100%;
  align-items: center;
}


.logo {
  max-height: 100%;
  width: auto;
  object-fit: contain;
  display: block;
}


.container {
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 4px;
  gap: 4px;
  width: fit-content;
  align-items: center;
  justify-content: center;
}

.link {
  padding: 5px 16px;
  border-radius: 40px;
  font-weight: 500;
  text-decoration: none;
  color: #959595;
  transition: all 0.2s ease-in-out;
}

.link:not(.active):hover {
  color: #374151;
}

.link.active {
  background-color: #127BBE;
  color: white;
}
